<!--      *****************************   *******************************        -->

<!-- example from opensource project -->



<!DOCTYPE html>
<!--
Created using JS Bin
http://jsbin.com

Copyright (c) 2022 by xieranmaya (http://jsbin.com/tisaluy/8/edit)

Released under the MIT license: http://jsbin.mit-license.org
-->
<meta name="robots" content="noindex">
<html ng-app="App">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <title>CCTV layout Test</title>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>CCTV layout Test</title>
    <base href="https://bitbucket.org/naimhasyim/cctv-view/src/master/sample/">
    <!-- <base src="cctv/*"> -->


    <style id="jsbin-css">
        section {
            display: flex;
            flex-wrap: wrap;
        }
        
        section::after {
            content: '';
            flex-grow: 999999999;
        }
        
        div {
            margin: 2px;
            background-color: rgb(130, 238, 175);
            position: relative;
        }
        
        i {
            display: block;
        }
        
        img {
            position: absolute;
            top: 0;
            width: 100%;
            vertical-align: bottom;
        }
    </style>



</head>

<body ng-controller="ImageLayout">
    <section>
        <div ng-repeat="img in imgs" style="width:{{img.width*200/img.height}}px;flex-grow:{{img.width*200/img.height}}">
            <i style="padding-bottom:{{img.height/img.width*100}}%"></i>
            <img src="{{img.url}}" alt="">
        </div>
    </section>



    <script id="jsbin-javascript">
        angular.module('App', [])

        .controller('ImageLayout', ImageLayout)

        function ImageLayout($scope, $http) {
            $http.get('https://bitbucket.org/naimhasyim/cctv-view/src/master/sample.json').success(function(imgs) {
                $scope.imgs = imgs
            })
        }
    </script>


</body>

</html>


<!-- 'https://drive.google.com/drive/folders/1Nn6wTvy1Kdm5BWPPS6g3fFq8uLw-Is5F' -->